/*
commas mean multiple separate items;
the dot selects classes, hashes the ids;
second elements (no comma between) sit inside the first;
> symbols indicate immediate parenting;
+ symbol means immediately subsequent (non-greedy);
~ is greedy.
*/

/* =================
   MAIN
================= */
html, body {
    /* ordering: colour image repeat attach(x,y) position attachment */
    /* background: url("../image/live.png") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*xbrowser consistency */
body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}
h1, h2, .navbar-nav .label {font-family: 'Oswald', sans-serif;}

/* =================
   NAVBAR
================= */
/* Central banner, logo on left,
boxes round text, text position */
#navbarLeftRightFull {
    background-color: #DD9933;
    min-height: 65px;
    border-radius: 3px;
}
.navbar-brand {margin-top: -34px;}
.navbar-nav > li {
    min-height: 65px;
    font-size: 1.5em;
    border-right: 1px solid white;
}
.navbar-nav > li:last-child {border-right: none;}
.navbar-default .navbar-nav > li > a { /* needs full address */
    padding-top: 22px;
    color: linen;
}
/* DROPDOWN BOX */
#navstyle_dropdown {
    margin: 0px;
    padding: 0px;
    background-color: #e3ad5b; /*pale orange */
    border-radius: 4px;
}
/* borders inside dropdown */
#navstyle_dropdown > li {border-bottom: 1px solid white;}
/* NAVBAR HOVERS
 keep hypertext within Navbar unchanged on action */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .open > a:focus {color: linen;}
/* NAVBAR DROPDOWN HEADER
 give a background */
.navbar-default .navbar-nav > .open > a:focus {background-color: CadetBlue;}
/* DROPDOWN CONTENT Hypertext */
#navstyle_dropdown > li > a {
    padding: 14px 0px 14px 36px;
    border-radius: 2px;
    color: linen;
}
/* HOVERS
in the navbar and in the dropdowns */
.navbar-nav li:hover,
#navstyle_dropdown > li > a:hover {
    background-image: none; /* the default has something in there */
    background-color: #b07a28; /*darker orange */
}

/* ===============================
   MAKE THE TABLE SCROLL AND WRAP
================================== */
table {border: 1px solid black;}
thead {color: green;}
td, th {vertical-align: top; text-align: left;}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: auto; /* h-centre within element */
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd; /* order: width style color */
    -webkit-overflow-scrolling: touch;
}
/* #scroller {overflow-y: scroll;} */
.table-responsive > .table {margin-bottom: 0;}
.table-responsive > .table > tbody {
    display: in-line;
    overflow-y: scroll;
    overflow-x: hidden;
}
.table-responsive th,
.table-responsive td {white-space: nowrap;}
/* for the case where we deliberately want an overflow */
table #clipped {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.prof_row_style {
    color: white;
    background: #282832;
    opacity: 0.85;
}
.prof_row_style:hover {
    background: #999; /*################ Old browsers */
    color:#FF793E;
}
.prof_row_style > td {width: 10px;}
/* =================
   SPECIFIC STYLING
================= */
.redder {color: red; font-weight: bold; font-size: 1.4em} /* for messages */
.greyer {color: grey;} /* for form boxese not touched */
.alert {font-size: 1.4em} /* for messages */
.btn-box {width: 40px; height: 40px;} /* to make buttons all double-width */
#logo {height: 100%; margin-top: -65px; margin-left: 100px;}
#big-logo {
    color: white;
    background: black;
    text-align: center;
    font-size: 48px;
    opacity: 0.7;
}
/* PARALLAX =================
 settings for background image
 =================*/
/* makes panels the entire window height; DOES IT? */
.full-screen {min-height: 400px;}
#roper {background: url(../image/shoelaces2.png); height: 750px;}
/* main holder for parallax */
section {text-align: center;}