{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
<div>
    <!-- <p align="right"> DOUBLE CURLY moment(ct, local=True).format('Do MMM YYYY, h:mm:ss a') DOUBLE CURLY</p>  -->
    <p align="right"> {{ct}} </p>
    <br><br><br>
    <div class="jumbotron" title="Demo Tooltips Activated."
         id="big-logo" onmouseover="tipAct(this.id);">
        <h1>second <small>Blueprint.</small></h1>
    </div>
    <p id="bosh"></p>
</div>

<!-- ACTIVATE ANY OF THOSE TOOLTIPS -->
<!-- formatting not as good if move to a separate script -->
<script>
    function tipAct(id) {
        x = document.getElementById(id);
        $(x).tooltipster();
    }
</script>
<!-- grab location data -->
<p id="lalo"></p>
<script src="static/js/snips/locn.js"></script>
{% endblock %}