<div class="form-group">
    {% for ro in form %}
        <div class="input-group">
            <span class="greyer">
                {{ ro.id(size=5) }}
                {{ ro.firstname }}
                {{ ro.surname }}
                {{ ro.email }}
            </span>
            <span>
                {{ ro.adminr }}
                {{ ro.active }}
                {{ ro.confirmed }}
                <span class="redder">{{ ro.markfordeletion }}</span>
            </span>
        </div>
    {% endfor %}
</div>
<button type="submit" class="btn btn-primary btn-block">
    Submit all Changes
</button>
&nbsp;
<ul class="nav nav-pills nav-justified">
    <li role="presentation">
        <a class="btn btn-default btn-block"
           href="{{ url_for('log_auth.visits') }}">
            See member visits
        </a>
    </li>
</ul>