{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container col-xs-12 col-md-4">
            <div class="panel">
                <div class="panel-heading btn-info"><h2><small>Our details</small></h2></div>
                <div class="panel-body">
                    <h3><small>
                        Drop us a
                        <a href="mailto:info@circadian-capital.com?Subject=Getting%20In%20Touch">line</a>
                        if you would like to get in touch.
                    </small></h3>
                </div>
            </div>
        </div> <!--container-->
    </div> <!--row-->
{% endblock %}