{% import 'macros.html' as macros %}
{{ macros.row_pres(
    "fa fa-user fa-border btn-info", form.firstname, "Your firstname"
    )}}
{{ macros.row_pres(
    "fa fa-user fa-border btn-info", form.surname, "Your surname"
    )}}
{{ macros.row_pres(
    "fa fa-envelope-o fa-border btn-info", form.email, "Your email"
    )}}
{{ macros.row_pres(
    "fa fa-lock fa-border btn-warning", form.password, "Password"
    )}}
{{ macros.row_pres(
    "fa fa-lock fa-border btn-warning", form.password2, "Confirm Password"
    )}}
<button type="submit" class="btn btn-primary btn-block">
    signUp
</button>