<!DOCTYPE html>
<html>
<head></head>
<body>
    <div id="rcorners1" style="border-radius: 12px; background-color: #FFBA66; width: 400px; height: 170px; padding: 10px;">
        <h2 style="color: #545454">Welcome {{ newuser.firstname }}.</h2>
        <p style="font-weight:bold">
            To confirm your login please click
            <a href="{{ url_for('log_auth.confirm', token=token, _external=True) }}">here</a>
        </p>
        &nbsp;
        <p style="color:DimGray; font-weight:bold">Please note: we do not monitor this email address.</p>
    </div>
</body>
</html>