<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
<!-- TAILOR THE NAVBAR BELOW -->
<ul class="nav navbar-nav">
    {% if current_user.is_authenticated %}
        {{ macros.buildLink('log_auth.signout', 'signOut') }}
        {% if not current_user.confirmed %}
            {{ macros.buildLink('log_auth.resend_token', 'resendToken') }}
        {% else %}
            <li class="dropdown">
                {{ macros.buildDropper('profile') }}
                <ul class="dropdown-menu" id="navstyle_dropdown">
                    {{ macros.buildLink('log_auth.profile', 'myLogin') }}
                    {% if current_user.adminr %}
                        {{ macros.buildLink('log_auth.adm_members',
                            'manageUsers') }}
                        {{ macros.buildLink('log_recs.logs',
                            'logRecord') }}
                    {% endif %}
                </ul>
            </li>
            {{ macros.buildLink('proj.home2', 'dummy') }}
            {{ macros.buildLink('proj.bible', 'bible') }}
        {% endif %}
    {% else %}
        <!-- The following will only show when the nav menu is collapsed -->
        <li class="visible-xs">
        <a href="{{ url_for('log_auth.signin') }}">signIn</a>
        </li>
    {% endif %}
</ul>
<!--<ul class="nav navbar-nav-right"> </ul>-->
<!-- END OF TAILORING -->
</div>